@font-face {
  font-family: PlantagenetCherokee;
  src: url(../assets/fonts/PlantagenetCherokee.ttf);
}
@font-face {
  font-family: BookMan;
  src: url(../assets/fonts/BOOKOS.ttf);
}
@font-face {
  font-family: DMSerifText;
  src: url(../assets/fonts/DMSerifText-Regular.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  background-color: #e5e5e5;
  color: #274069;
}
main {
  margin-top: 11rem;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}
.background-full {
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
}
.main-text-color {
  color: #274069;
}

@media (min-width: 1025px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}
/* -----fonts------ */
body {
  font-family: PlantagenetCherokee;
}
h1 {
  font-family: DMSerifText;
  font-size: 4rem;
}

/* --------HEADER SECTION---------- */
.logo-area {
  background-color: rgba(229, 229, 229, 0.5);
  min-height: 5rem;
}
#top-logo {
  width: 30rem;
}
#mainNav {
  padding: 0;
}

nav {
  margin-top: 7rem;
  font-size: 1.2rem;
  border-radius: 10px;
}

.navbar .container {
  margin-left: 0;
  padding-left: 0;
}
.menu-nav {
  background-color: #274069;
  display: flex !important;
  padding-left: 30px;
  font-family: BookMan;
}
.menu-nav a {
  padding: 15px;
}
.navbar-brand {
  color: #fff !important;
}

.dropdown-menu {
  width: 10rem;
  max-height: 250px;
  overflow-y: auto;
  --bs-dropdown-min-width: 12.5rem;
}
.navbar-nav ul {  
  background-color: #b7b7b7;
}
.navbar-nav li {
  padding: 8px 0;
  border-left: dotted #274069 1px;
  text-align: center;
  background-color: #b7b7b7;
}

.navbar-nav li a {
  color: #274069;
  width: 10rem;
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #274069;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #274069;
}

/* animation for main navbar */
#animate-btn {
  width: 9rem;
  overflow-x: hidden;
}
#animate-btn:hover {
  animation: movingNav 0.5s linear;
  width: 100%;
  overflow-x: clip;
}

@keyframes movingNav {
  from {
    width: 9rem;
  }
  to {
    width: 100%;
  }
}

@keyframes itemOpacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}


/* sticky social media bar */
.fl-fl {
  background: #274069;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -150px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-sm div:nth-child(1) {
  top: 270px;
}
.float-sm div:nth-child(2) {
  top: 325px;
}
.float-sm div:nth-child(3) {
  top: 380px;
}
.float-sm div:nth-child(4) {
  top: 435px;
}

/* -----END HEADER------ */
/* ------FOOTER SECTION------- */
footer {
  min-height: 3rem;
  background-color: #274069;
  color: #e5e5e5;
}
footer li {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 15px 30px;
}

.textloop--container {
  height: 60px;
  line-height: 60px;
  max-width: 100vw;
  font-size: 22px;
  position: relative;
  overflow: hidden;
}

.textloop--content {
  position: absolute;
  height: 100%;
  display: flex;
  white-space: nowrap;
  animation: moveLeft 20s linear infinite;
}
.textloop--content:hover {
  animation-play-state: paused;
}
/* ----------HOME PAGE----------- */
#m-home {
  background-image: url(../assets/imgs/home-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mh-content {
  padding: 20px;
}
/* ---------ABOUT US PAGE---------- */
.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

section.ab-us {
  background-image: url(../assets/imgs/ab-01.png);
  padding-top: 50px;
}
section.ab-us p {
  text-align: justify;
}
