/* reset css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh !important;
}
/* ********* */
@font-face {
  font-family: BookMan;
  src: url(../assets/fonts/BOOKOS.ttf);
}
@font-face {
  font-family: Title;
  src: url(../assets/fonts/DFVN-West-West-Condensed.ttf);
}
@font-face {
  font-family: Myriad;
  src: url(../assets/fonts/MYRIADPRO-REGULAR.ttf);
}
@font-face {
  font-family: Myriad;
  src: url(../assets/fonts/MYRIADPRO-BOLD.ttf);
  font-weight: bold;
}
.bg-light,
table * {
  background-color: #e5e5e5 !important;
}
.text-light {
  color: #e5e5e5 !important;
}
.text-blue{
  color: #274069;
}
.blue-bg * {
  background-color: #6e7f99 !important;
}
.bold-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 110%;
}
.btn-secondary{
  background-color: #274069!important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none !important;
}

a {
  color: #274069;
  text-decoration: none;
  cursor: pointer;
}
a.text-light:hover{
  color: #274069;
}
a:hover {
  color: #586378;
}
li ul li a:hover {
  background-color: #274069 !important;
  color: #e5e5e5 !important;
}
li {
  padding-left: 1em;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body,
section {
  background-color: #e5e5e5;
  color: #274069;
  text-align: justify;
}

section {
  opacity: 0;
}

.section-active {
  opacity: 100%;
  transition: all 0.5s ease-in-out;
}

.page-section {
  margin-top: 60px;
}
main {
  margin-top: 12rem;
  min-height: 80vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}
.background-full {
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}
.main-text-color {
  color: #274069;
}

@media (min-width: 1200px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .menu-nav {
    width: 40%;
  }
}
.dropdown-menu {
  width: 16rem;
  max-height: 250px;
  overflow-y: auto;
  --bs-dropdown-min-width: 12.5rem;
}
/* -----fonts------ */
body,
nav {
  font-family: Myriad;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Title;
}
h1 {
  font-size: 9rem;
  margin: 0;
  padding: 0;
}

/* --------HEADER SECTION---------- */
.logo-area {
  min-height: 8rem;
  z-index: 2 !important;
}
.header nav {
  min-height: 8rem;
  margin: 0;
  padding: 0;
  z-index: 4 !important;
  font-size: 1rem;
}

.header .navbar {
  /* background-color: rgba(229, 229, 229, 0.5); */
  background-color: #e5e5e5;
}

.header .menu-nav {
  font-family: BookMan;
  padding-top: 20px;
}

.header .navbar-nav ul {
  margin: 0px;
}
.navbar-nav li a {
  color: #274069 !important;
  border-radius: 10px;
  font-size: 1.2rem;
}

.header .dropdown-item {
  font-size: 1rem !important;
}
.header .navbar-nav li {
  font-size: 1rem;
  padding: 0 5px;
  border-radius: 10px;
}
.header .language {
  justify-content: end;
  padding: 0 32px;
}
.header .lang-flag {
  width: 20px;
  flex: 1;
  margin: auto;
}
@media (max-width: 1000px) {
  .navbar-nav {
    background-color: #b7b7b7;
  }
  .language {
    top: 0;
  }
  .sm-md-subheader {
    flex: 0 0 auto !important;
    width: 91.66666667% !important;
  }
  .search-input {
    opacity: 1;
    width: 100% !important;
  }
}
.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}
.navbar-brand img {
  margin: 0;
  padding: 0;
}
.navbar-toggler {
  padding: 0.5rem;
  background-color: #274069 !important;
}

@media (min-width: 320px) and (max-width: 700px) {
  .subheader-left {
    width: 0 !important;
  }
  .subheader-right {
    width: 100% !important;
    justify-content: space-between !important;
    padding: 0 8px;
  }
  .language {
    padding: 0 8px !important;
  }
  .search-input {
    opacity: 1;
    width: 100% !important;
  }
  .sm-md-subheader {
    flex: 0 0 auto !important;
    width: 91.66666667% !important;
  }
}
/* --------- STYLE SCROLLBAR ---------*/
/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #274069;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #274069;
}

/*----------- end styling scrollbar ---------------*/

/* animation for main navbar */
.animate-btn {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  animation: movingNav 0.5s linear;
}
/*
nav:hover > .animate-btn {
  width: 100%;
  overflow-x: clip;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 1;
}
*/
@keyframes movingNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* sticky social media bar */
.fl-fl {
  opacity: 0.9;
  background: #274069;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -150px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-sm div:nth-child(1) {
  top: 270px;
}
.float-sm div:nth-child(2) {
  top: 325px;
}
.float-sm div:nth-child(3) {
  top: 380px;
}
.float-sm div:nth-child(4) {
  top: 435px;
}

/* -----END HEADER------ */
/* ------FOOTER SECTION------- */

.subheader-left {
  width: 50%;
}

.subheader-right {
  width: 50%;
}

.textloop--content {
  position: absolute;
  height: 100%;
  display: flex;
  white-space: nowrap;
  animation: moveLeft 20s linear infinite;
}
.textloop--content:hover {
  animation-play-state: paused;
}
/* ----------HOME PAGE----------- */
.welcome-page {
  background-image: url(../assets/imgs/welcome-page_01.png);
  width: 100%;
  background-size: cover;
}
.welcome-page img {
  size: 50%;
}

.griffin {
  background-image: url(../assets/imgs/home-background.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.mh-content {
  padding: 20px;
}
.slogan {
  font-weight: bolder;
}
/* ---------ABOUT US PAGE---------- */
#ab-main {
  overflow: hidden;
}
#ab-main > section {
  min-height: 85vh;
  padding-top: 5rem;
}

.founder-words-title {
  width: 90%;
}

.our-mission {
  background-image: url(../assets/imgs/about-2.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.mascot-motto {
  background-color: #274069;
  color: #e5e5e5;
}
.mascot-motto h1 {
  font-size: 8.5rem;
}
/* -------------circle text animation (about page)----------- */
.circle {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  animation: textRotation 50s linear infinite;
}
.test2 {
  right: 0;
  bottom: 10px !important;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.6rem;
  transform-origin: 0 200px;
}

/* ---------------CURRICULUM PAGE------------- */
#curriculum > section {
  padding-top: 9rem;
}
.blue-rec-shape {
  height: 2rem;
  width: 100%;
  background-color: #274069;
  bottom: 0;
}
.moot-tournaments img {
  display: block;
  margin: auto;
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
  transition: transform 0.5s;
}
.moot-tournaments {
  overflow: hidden;
  margin: 20px auto;
}
.moot-tournaments img {
  transition: transform 0.8s;
}
.moot-tournaments img:hover {
  transform: scale(1.1);
}
#curriculum .credit {
  font-size: 0.8rem;
}
.c-table {
  background-image: url(../assets/imgs/curriculum-5.png);
  min-height: 1000px;
}

table td,
table th {
  border: 1px solid #274069;
  color: #274069 !important;
  vertical-align: middle;
}
table {
  font-size: 1.2rem;
}
table td * {
  padding-top: 8px;
}
table thead th {
  color: #2d466f;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.2rem;
  border-left: #274069 1px solid;
}
.c-table table tr th:first-child,
.c-table table tr td:first-of-type,
.c-table table tr td:nth-of-type(2) {
  text-align: center;
}
.c-table table tr th:first-child {
  width: 5rem;
}
.trial-session {
  min-height: 98vh;
  background-image: url(../assets/imgs/curriculum-7.png);
}
.trial-session .container * {
  padding: 0 20px;
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border-radius: 10%;
}
.close:hover {
  opacity: 1;
  background-color: #274069;
  color: #e5e5e5;
}

@media (min-width: 1200px){
  .modal-xl {
      --bs-modal-width: 90%;
  }
  .modal-content{
    height: 90vh;
  }
}

/* ------------TUITION PAGE------------- */
.tuition-bg {
  background-image: url(../assets/imgs/tuition-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#PNB-title{

}
#tuition table{
  font-size: 1rem;
}
#tuition table tr th{
  font-weight: lighter;
}

/* ---------------FAQ------------------ */

.faq-label {
  cursor: pointer;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 19px;
  background: #d0edf0;
  box-shadow: 5px 5px 10px #b7d1d3, -5px -5px 10px #e9ffff;
}

.faq-label-text {
  color: #365a5e;
}

.faq-label-icon {
  padding: 2px 3px;
  background: #d0edf0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  color: #365a5e;
  transition: 0.3s ease;
}

.faq-answer {
  transition: 0.3s ease;
  margin-top: 15px;
  height: 0;
  border-radius: 6px;
  color: rgba(127, 121, 121, 1);
  overflow: hidden;
}

.faq-answer-content {
  padding: 10px 0 10px 15px;
}

.active {
  background: #ffffff;
  border: 1px solid #c7c4c4;

  height: auto;
  margin-bottom: 25px;
}
.rotate {
  transform: rotate(180deg);
}

.carousel-item.active {
  justify-content: center;
}

.carousel-control-next {
  padding: 8px;
  right: -16px !important;
}

.carousel-control-prev {
  padding: 8px;
  left: -16px !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}
