/* reset css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
.two-column {
  column-count: 2;
}
body {
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh !important;
}
/* ********* */
@font-face {
  font-family: BookMan;
  src: url(../assets/fonts/BOOKOS.ttf);
}
@font-face {
  font-family: Title;
  src: url(../assets/fonts/DFVN-West-West-Condensed.ttf);
}
@font-face {
  font-family: Myriad;
  src: url(../assets/fonts/MYRIADPRO-REGULAR.ttf);
}
@font-face {
  font-family: Myriad;
  src: url(../assets/fonts/MYRIADPRO-BOLD.ttf);
  font-weight: bold;
}
.bg-light,
table * {
  background-color: #e5e5e5 !important;
}
.text-light {
  color: #e5e5e5 !important;
}
.text-blue {
  color: #274069;
}
.blue-bg * {
  /* background-color: #6e7f99 !important; */
  background-color: #909eb9 !important;
}
.bold-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 110%;
}
.btn-secondary {
  background-color: #274069 !important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.shadow.ct-text {
  border-radius: 10px;
  padding: 1.5rem !important;
}

a {
  color: #274069;
  text-decoration: none;
  cursor: pointer;
}
a.text-light:hover {
  color: #274069 !important;
  background-color: #e5e5e5;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  font-style: normal;
}
a:hover {
  color: #586378;
}
li ul li a:hover {
  background-color: #274069 !important;
  color: #e5e5e5 !important;
}
li {
  padding-left: 1em;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body,
section {
  background-color: #e5e5e5;
  color: #274069;
  text-align: left;
}

section {
  opacity: 0;
}

.section-active {
  opacity: 100%;
  transition: all 0.5s ease-in-out;
}

img,
picture {
  max-width: 100%;
  display: block;
}
.background-full {
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
.main-text-color {
  color: #274069;
}
.glow-white-bg {
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #e5e5e5, 0 0 5px #e5e5e5, 0 0 10px #274069,
      0 0 15px #274069, 0 0 20px #274069, 0 0 20px #274069, 0 0 22px #274069;
  }

  to {
    text-shadow: 0 0 10px #e5e5e5, 0 0 13px #274069, 0 0 15px #274069,
      0 0 18px #274069, 0 0 20px #274069, 0 0 20px #274069, 0 0 22px #274069;
  }
}
/* big screen hover to drop down */
@media (min-width: 1200px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .menu-nav {
    width: 30%;
  }
}
.dropdown-menu {
  width: 16rem;
  max-height: 250px;
  overflow-y: auto;
  --bs-dropdown-min-width: 12.5rem;
}
#endorsement-mobile {
  display: none;
}
/* -----fonts------ */
body,
nav {
  font-family: Myriad;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Title;
}

.title h1 {
  font-size: 9rem;
  margin: 0;
  padding: 0;
}

/* --------HEADER SECTION---------- */
.logo-area {
  z-index: 2 !important;
}

.header nav {
  min-height: 7rem;
  margin: 0;
  padding: 0;
  z-index: 1 !important;
  font-size: 1rem;
}

.header .navbar {
  /* background-color: rgba(229, 229, 229, 0.5); */
  background-color: #e5e5e5;
  height: 100px;
}

.header .menu-nav {
  font-family: BookMan;
  height: 100%;
  width: 100%;
}

.navbar-brand {
  height: 100%;
}
.navbar-brand img {
  height: 100%;
}

.header .navbar-nav ul {
  margin: 0px;
}
.navbar-nav li a {
  color: #274069 !important;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
}
.nav-no-dropdown-icon::after {
  display: none;
}
.header .dropdown-item {
  font-size: 1rem !important;
}
.header .navbar-nav li {
  font-size: 1rem;
  padding: 0 5px;
  border-radius: 10px;
}
.header .language {
  justify-content: end;
  /* padding: 0 32px; */
}
.header .lang-flag {
  width: 20px;
  flex: 1;
  margin: auto;
}
@media (max-width: 1000px) {
  .language {
    top: 0;
  }
  .sm-md-subheader {
    flex: 0 0 auto !important;
    width: 91.66666667% !important;
  }
  .search-input {
    opacity: 1;
    width: 100% !important;
  }
}
.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}
.navbar-brand img {
  margin: 0;
  padding: 0;
}
.navbar-toggler {
  padding: 0.5rem;
  background-color: #274069 !important;
}
.nav-link:hover {
  color: #843d43 !important;
}

@media (min-width: 320px) and (max-width: 700px) {
  .subheader-left {
    width: 0 !important;
  }
  .navlink-container {
    height: auto !important;
    width: 100% !important;
    background-color: rgb(229, 229, 229);
    padding: 8px;
    opacity: 1 !important;
  }
  body .header .navbar {
    height: 120px !important;
  }

  .hover-here-component {
    display: none !important;
  }
  .subheader-right {
    width: 100% !important;
    justify-content: space-between !important;
    padding: 0 8px;
  }
  .language {
    padding: 0 8px !important;
  }
  .search-input {
    opacity: 1;
    width: 100% !important;
  }
  .sm-md-subheader {
    flex: 0 0 auto !important;
    width: 91.66666667% !important;
  }
  #markdown-content h1 {
    font-size: 2.5rem;
  }
}
/* --------- STYLE SCROLLBAR ---------*/
/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #274069;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #274069;
}

/*----------- end styling scrollbar ---------------*/

/* animation for main navbar */
.animate-btn {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  animation: movingNav 0.5s linear;
}

.btn.shadow {
  padding: 0.5rem 1rem !important;
}

@keyframes movingNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* sticky social media bar */
.fl-fl {
  opacity: 0.9;
  background: #274069;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -150px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.vn .fl-fl {
  width: 230px !important;
  right: -190px;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-sm div:nth-child(1) {
  top: 270px;
}
.float-sm div:nth-child(2) {
  top: 325px;
}
.float-sm div:nth-child(3) {
  top: 380px;
}
.float-sm div:nth-child(4) {
  top: 435px;
}

/* -----END HEADER------ */
/* ------FOOTER SECTION------- */

.subheader-left {
  width: 50%;
}

.subheader-right {
  width: 50%;
}

.textloop--content {
  position: absolute;
  height: 100%;
  display: flex;
  white-space: nowrap;
  animation: moveLeft 20s linear infinite;
}
.textloop--content:hover {
  animation-play-state: paused;
}
/* ----------HOME PAGE----------- */
.welcome-page {
  background-image: url(../assets/imgs/welcome-page_01.png);
  width: 100%;
  background-size: cover;
}
.welcome-page img {
  size: 50%;
}

.griffin {
  background-image: url(../assets/imgs/home-background.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.mh-content {
  padding: 20px;
}
.slogan {
  font-weight: bolder;
}
/* ---------ABOUT US PAGE---------- */

#ab-main > section {
  min-height: 85vh;
}
.founder-words-title {
  width: 90%;
}
#a-message-from-our-founder .modal-body,
#termofuse .modal-body {
  padding: 0;
}
.our-mission {
  background-image: url(../assets/imgs/about-2.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.mascot-motto {
  background-color: #274069;
  color: #e5e5e5;
}
.mascot-motto h1 {
  font-size: 8.5rem;
}
#ab-main > h1 {
  /* padding: 0 1.5rem; */
}
.ab-slogan {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}
#MSS-team {
  min-height: 100vh;
  padding-bottom: 100px;
}
#MSS-team .title {
  margin-bottom: 32px;
}
.upload-container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#MSS-team .avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
}
/* flip card */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  height: 100%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: help;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow-y: scroll;
  height: 100%;
}

/* -------------circle text animation (about page)----------- */
.circle {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  animation: textRotation 50s linear infinite;
}
.test2 {
  right: 0;
  bottom: 10px !important;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.6rem;
  transform-origin: 0 200px;
}

/* ---------------CURRICULUM PAGE------------- */
#curriculum > section {
  padding-top: 8rem;
  border: none;
}
.blue-rec-shape {
  height: 2rem;
  width: 100%;
  background-color: #274069;
  bottom: 0;
}
#what-is-mooting .title h2 {
  font-size: 7rem;
  line-height: 5rem;
}
#end-of-course-sessions .shadow {
  margin-left: 60px;
}
.moot-tournaments img {
  display: block;
  margin: auto;
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
  transition: transform 0.5s;
}
.moot-tournaments {
  overflow: hidden;
  margin: 20px auto;
}
.moot-tournaments img {
  transition: transform 0.8s;
}
.moot-tournaments img:hover {
  transform: scale(1.1);
}
#curriculum .credit {
  font-size: 0.8rem;
}

.c-table {
  background-image: url(../assets/imgs/curriculum-5.png);
  min-height: 1000px;
}

table td,
table th {
  border: 1px solid #274069;
  color: #274069 !important;
  vertical-align: middle;
}
table {
  font-size: 1.2rem;
}
table td * {
  padding-top: 8px;
}
table thead th {
  color: #2d466f;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.2rem;
  border-left: #274069 1px solid;
}
.c-table table tr th:first-child,
.c-table table tr td:first-of-type,
.c-table table tr td:nth-of-type(2) {
  text-align: center;
}
.c-table table tr th:first-child {
  width: 5rem;
}

.trial-session {
  background-image: url(../assets/imgs/curriculum-7.png);
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border-radius: 10%;
}
.close:hover {
  opacity: 1;
  background-color: #274069;
  color: #e5e5e5;
}

@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 90%;
  }
  .modal-content {
    height: 90vh;
  }
  .dropdown-menu[data-bs-popper] {
    left: unset;
    right: 0;
  }
}

.theorical-popup ol li:hover {
  background-color: #274069;
  color: #e5e5e5;
  cursor: help;
}

/* ------------TUITION PAGE------------- */
.tuition-bg {
  background-image: url(../assets/imgs/tuition-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#PNB-title {
}
#tuition table {
  font-size: 1rem;
}
#tuition table tr th {
  font-weight: lighter;
}
/* --------------ENDORSEMENT------------- */
#endorsement .title h1 {
  font-size: 6.5rem !important;
}
#endorsement .carousel .active,
#endorsement-mobile .carousel .active {
  background-color: rgba(0, 0, 0, 0);
}
#endorsement .carousel-inner {
  z-index: 0;
}
/* change carousel button color to blue */
#endorsement .carousel-control-next-icon,
#endorsement .carousel-control-prev-icon,
#endorsement .carousel-indicators,
#endorsement-mobile .carousel-control-next-icon,
#endorsement-mobile .carousel-control-prev-icon,
#endorsement-mobile .carousel-indicators {
  filter: brightness(0) saturate(100%) invert(23%) sepia(13%) saturate(2242%)
    hue-rotate(178deg) brightness(97%) contrast(96%);
}


#endorsement .carousel-indicators {
  margin-bottom: 0 !important;
}
/* separate 3 tabs Mentee - Mooter - Judges */
.tab-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media (min-width: 600px) {
  .tab-container {
    padding: 10px;
  }
}
.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  border-radius: 10px;
  padding: 20px;
  background: #909eb9;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  transition: background 0.1s, color 0.1s;
  color: #ccc;
  
}
.label:hover {
  color: #843d43;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  background: #274069;
  color: #e5e5e5;
}
@media (min-width: 600px) {
  .label {
    /* width: auto; */
    width: 33.33%;
    text-align: center;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }
}
.panel {
  display: none;
  padding: 20px 0 0;
  background: rgba(0, 0, 0, 0);
}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}
/* end separate tabs */

/* ---------------FAQ------------------ */
#faq-page p {
  padding: 5px 0;
}
#about-class-rules {
  background-color: #274069;
}
#about-class-rules .faq-label {
  box-shadow: 5px 5px 10px #6e7f99, -5px -5px 10px #586378;
}
#participant-prohibitions .title h1 {
  font-size: 7.5rem;
}
.faq-label {
  cursor: pointer;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 19px;
  background: #d0edf0;
  box-shadow: 5px 5px 10px #b7d1d3, -5px -5px 10px #e9ffff;
}

.faq-label-text {
  color: #365a5e;
}

.faq-label-icon {
  padding: 2px 3px;
  background: #d0edf0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  color: #365a5e;
  transition: 0.3s ease;
}

.faq-answer {
  transition: 0.3s ease;
  margin-top: 15px;
  height: 0;
  border-radius: 6px;
  color: #274069;
  overflow: hidden;
}

.faq-answer-content p a:hover {
  color: #843d43;
  font-weight: bold;
}

.faq-answer-content {
  padding: 20px 20px 15px;
}

.active {
  background: #fff;
  border: 1px solid #c7c4c4;

  height: auto;
  margin-bottom: 25px;
}
.rotate {
  transform: rotate(180deg);
}
/* news & events page */
.carousel-item.active {
  justify-content: center;
}

.carousel-control-next {
  padding: 8px;
  right: 0px !important;
  z-index: 0;
}

.carousel-control-prev {
  padding: 8px;
  left: 0px !important;
  z-index: 0;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}


/* ------------FOOTER----------- */

footer {
  background-color: #274069;
}

/*--------------------------------------------------------------
# Preloader - welcome section
--------------------------------------------------------------*/
#preloader {
  display: flex;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

#preloader:before,
#preloader:after {
  content: "";
  /* background-color: #274069; */
  background-image: url(../assets/imgs/preloader.png);
  background-size: 200%;
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
#preloader:before {
  background-position: left;
}
#preloader:after {
  left: auto;
  right: 0;
  background-position: right;
}

#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1px;
  height: 280px;
  transition: all 0.8s ease 0s;
}

#preloader .line:before {
  content: "";
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  transform: translateY(-50%);
  animation: lineincrease 1000ms ease-in-out 0s forwards;
}

#preloader .line:after {
  content: "";
  position: absolute;
  background-color: #999;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateY(-100%);
  animation: linemove 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}

#preloader.loaded .line {
  opacity: 0;
  height: 100% !important;
}

#preloader.loaded .line:after {
  opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
  animation: preloaderfinish 300ms ease-in-out 500ms forwards;
}

@keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}
/*---ANCHOR TAG----*/
.relative-anchor {
  position: relative;
  height: 80px;
}
.relative-anchor span {
  position: absolute;
  top: -200px;
}
/* ----------------------------------------------------------------- */
/* ---Responsive background for small device (tablet & mobile)-----*/

@media (max-width: 1200px) {
  .animate-btn {
    opacity: 1;
    animation: none !important;
  }

  .navlink-container {
    height: auto !important;
    width: 100% !important;
    background-color: rgb(229, 229, 229);
    opacity: 1 !important;
  }

  .header .navbar {
    height: 160px !important;
  }
  .hover-here-component {
    display: none !important;
  }
  #preloader:before,
  #preloader:after {
    background-image: url(../assets/imgs/preloader1.png);
  }
  .title h1 {
    font-size: 4rem !important;
  }
  .ab-slogan {
    font-size: 1.5rem;
    padding: 20px 0 10px;
  }
  .founder-img{
    display: none;
  }
  .founder-words-title{
    padding-top: 60px;
  }
  
  #what-is-mooting .title h2 {
    font-size: 5rem;
    line-height: 4rem;
  }
  #what-is-mooting .title h1 {
    font-size: 6rem !important;
  }
  .hideBlue {
    display: none;
  }
  #what-is-mooting .title {
    margin-bottom: 20px;
  }
  #end-of-course-sessions .shadow {
    margin-left: 0;
  }
  .menu-nav {
    padding-top: 40px;
  }
  .circle {
    transform: scale(0.6);
    opacity: 0.6;
  }
  .philosophy-text {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .founder-words-title h3 {
    margin-top: 30px;
  }
  .our-mission-vn-content {
    margin-top: 0rem !important;
    padding-left: 0 !important;
  }
  #endorsement-mobile .title h1 {
    font-size: 3.5rem !important;
  }
  #endorsement-desktop {
    display: none;
  }
  #endorsement-mobile {
    display: block;
  }
  #a-message-from-our-founder .modal-body {
    height: auto;
  }
  main {
    min-height: 0 !important;
  }
  .two-column {
    column-count: 1;
  }
  .filter {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    background: rgb(39, 64, 105, 0.3);
    /* background: rgb(229, 229, 229,0.5); */
    color: #e5e5e5;
    padding: 20px !important;
    border-radius: 10px;
    /* backdrop-filter: blur(1px); */
  }
  .mission-container {
    padding: 32px !important;
  }

  .element-news-events {
    height: 70px !important;
  }

  .element-news-events span {
    font-size: 12px !important;
  }
  .element-img {
    padding: 0 !important;
  }
  .element-news-events a {
    font-size: 20px !important;
  }
  li {
    padding-left: 5px;
  }
  .label {
    width: 100% !important;
  }
  
}
